@use '../../styles/variables' as *; 

.duplicates_wrapper {
    width: 100%;
    background: transparent;
    border-radius: 8px;
    border: 1px solid $secondary-text-color;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.duplicates_text {
    font-size: 1.2em;
    padding: 0.6em;
    border: none;
    background: transparent;
    color: $primary-text-color;
}

.thick_arrow {
    stroke-width: 80px;
    stroke: $primary-text-color;
}